.TH DROXI 1 "{date}" "droxi {version}"
.SH NAME
droxi \- ftp-like command-line interface to Dropbox
.SH SYNOPSIS
droxi
.SH COMMANDS
{commands}
.SH AUTHOR
Written by Brandon Mulcahy (brandon@jangler.info).
