.TH DROXI 1 "{date}" "droxi {version}"
.SH NAME
droxi \- ftp-like command-line interface to Dropbox
.SH SYNOPSIS
droxi
.SH DESCRIPTION
A command-line Dropbox interface inspired by GNU coreutils, GNU ftp, and lftp.
Features include smart tab completion, globbing, and interactive help.
.SH COMMANDS
{commands}
.SH AUTHOR
Written by Brandon Mulcahy (brandon@jangler.info).
